@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    <li>
        <div class="dropdown " style="padding-top: 9px; ">
            @*Need some sort of padding to move itdown*@
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Demo Mode
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Developer", "aDemo", "Account", new { demoRole = "Developer" }, null)</li>
                <li>@Html.ActionLink("Submitter", "aDemo", "Account", new { demoRole = "Submitter" }, null)</li>
                <li>@Html.ActionLink("Project Manager", "aDemo", "Account", new { demoRole = "Project Manager" }, null)</li>
                <li>@Html.ActionLink("Admin", "aDemo", "Account", new { demoRole = "Admin" }, null)</li>
            </ul>
        </div>
    </li>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <zzzul class="nav navbar-nav navbar-right">

                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </zzzul>
        }
    }
    else
    {
        <zzzzul class="nav navbar-nav navbar-right">

            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        </zzzzul>
    }
</ul>